#frame {
  font-size: 14px;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 250px;
  overflow-y: auto;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text !important;
  letter-spacing: 2px;
}
#modal{

  line-height: 1.8;
  letter-spacing: 2px;
  padding-top:150px;
  overflow:auto;
background-color:rgb(255, 255, 255);
}
#x{
  font-size:40px;
}

#para {
  top: 0;
  left: 0;
  /* height:100%; */
  line-height: 1.8;
  letter-spacing: 2px;
  overscroll-behavior-inline: auto;
  width: 70%;
}

#pic {
  width: 300px;
  height: 260px;
  z-index: -1;
}

#mobile-pic {
  width: 300px;
  height: 300px;
  z-index: -1;
}


a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ff5039
}

.privacy {
  height: 150px;
  opacity: 0.5;
}




@media only screen and (min-width:0px) {
  #mobile-pic {
    display: block;
  }

  #pic {
    position: static;
    display: none;

  }

  #para {
    width: 100%;
    padding-bottom: 0px;
  }

  #header {
    width: 70vw;
  }

  table {
    display: none
  }

  #mobile-table {
    display: inline-table;

    margin-top: 0px;

  }

  #box {
    margin-left: 15vw;
    margin-right: 15vw;

  }
  #xbox-top{
    display:none;
  }
  #xboxBottom{
    display:block;
  }

}

@media only screen and (min-width:1000px) {
  #mobile-pic {
    display: block;
  }

  #box {
    margin: 0;
    width: 80vw;
  }

  #table-and-pic {
    width: 680px;
    border-bottom: black solid 1px;
    ;
  }

  #para {
    width: 100%;
  }

  #pic {
    display: none;
  }

  #header {
    width: 80%;
  }

  #frame {
    display: flex;
    justify-content: center;
  }

  table {
    display: inline-table;
    /* margin-left:10vw; */
  }

  #mobile-table {
    display: none;
  }


}

@media only screen and (min-width:1200px) {
  #mobile-pic {
    display: none;
  }

  #box {
    margin: 0;
    width: 80vw;
  }

  #table-and-pic {
    width: 930px;
    border-bottom: black solid 1px;
    ;
  }

  #para {
    width: 100%;
    padding-bottom: 100;
  }

  #pic {
    display: block;
    margin-right: 50px;
  }

  #header {
    width: 80%;
  }

  #frame {
    display: flex;
    justify-content: center;
  }

  table {
    display: inline-table;
    /* margin-left:10vw; */
  }

  #mobile-table {
    display: none;
  }

  #par1 {
    width: 60%;
  }

  #par2 {
    width: 70%;
  }

  #par3 {
    width: 80%;
  }


}

@media only screen and (min-width:1700px) {
  #mobile-pic {
    display: none;
  }

  #box {
    width: 1350px;
  }

  #para {
    width: 100%;
    padding-bottom: 100px;
  }

  #pic {
    display: block;
    margin-right: 50px;
  }

  #header {
    width: 1350px;
  }

  #frame {
    display: flex;
    justify-content: center;

  }

  table {
    display: inline-table;
    margin-left: 0;
  }

  #mobile-table {
    display: none;
  }

  #par1 {
    width: 60%;
  }

  #par2 {
    width: 70%;
  }

  #par3 {
    width: 80%;
  }

}
