<div id="frame" class="  fixed w-100 flex flex-column justify-center items-center  ">

    <table  width="832">
      <tbody>
        <tr>
          <td><span style="letter-spacing: 0.08em;">direct contact</span></td>
          <td><span style="letter-spacing: 0.08em;">representation germany</span></td>
          <td><span style="letter-spacing: 0.08em;">representation italy / asia</span></td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">Christian Doppelgatz Photography</span></td>
          <td><span style="letter-spacing: 0.08em;">UPFRONT foto &amp; film</span></td>
          <td><span style="letter-spacing: 0.08em;">1806 agency</span></td>
        </tr>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <td><a href="mailto:christian@doppelgatz.com" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">christian@doppelgatz.com</span></a></td>
          <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">info@upfront.de</span></a></td>
          <td><a href="mailto:info@1806.agency" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">info@1806.agency</span></a></td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">germany     +49 (0)179 - 900 80 99</span></td>
          <td><span style="letter-spacing: 0.08em;">+49 (0)40 386 158 30</span></td>
          <td><span style="letter-spacing: 0.08em;">+39 02 45374679</span></td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">south africa       +27 (0)72 8810 682</span></td>
          <td><a href="http://www.upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">www.upfront.de</span></a></td>
          <td><a href="http://www.1806.agency" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">www.1806.agency</span></a></td>
        </tr>

      </tbody>
    </table>

    <table class="" id="mobile-table"  width="270">
      <tbody>
        <tr>
          <td><span class="heading" style="letter-spacing: 0.08em;">direct contact</span></td>
        </tr>
        <tr>
          <td> </td>

        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">Christian Doppelgatz Photography</span></td>
        </tr>
        <tr>
          <td> </td>

        </tr>
        <tr>
          <td><a href="mailto:christian@doppelgatz.com" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">christian@doppelgatz.com</span></a></td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">germany     +49 (0)179 - 900 80 99</span></td>

        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">south africa       +27 (0)72 8810 682</span></td>
        </tr>
        <tr>
          <td><br> </td>

        </tr>
        <tr>
          <td><br> </td>

        </tr>

        <tr>
          <td><span style="letter-spacing: 0.08em;">representation germany</span></td>
        </tr>
        <tr>
          <td> <br></td>

        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">UPFRONT foto &amp; film</span></td>
        </tr>
        <tr>
          <td> <br></td>

        </tr>
        <tr>
          <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">info@upfront.de</span></a></td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">germany     +49 (0)179 - 900 80 99</span></td>

        </tr>
        <tr>
          <td><a href="http://www.upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">www.upfront.de</span></a></td>

        </tr>
        <tr>
          <td> <br></td>

        </tr>
        <tr>
          <td><br> </td>

        </tr>


        <tr>
          <td><span style="letter-spacing: 0.08em;">representation italy / asia</span></td>
        </tr>
        <tr>
          <td> </td>

        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">1806 agency</span></td>
        </tr>
        <tr>
          <td> </td>

        </tr>
        <tr>
          <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">info@1806.agency</span></a></td>
        </tr>
        <tr>
          <td><span style="letter-spacing: 0.08em;">germany     +49 (0)179 - 900 80 99</span></td>

        </tr>
        <tr>
          <td><a href="http://www.upfront.de" target="_blank" rel="noopener"><span
                style="letter-spacing: 0.08em;">www.1806.agency</span></a></td>

        </tr>

        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>




      </tbody>
    </table>
    <!-- <grid-lightbox class="nil w-100" *ngIf="aboutGrid" [gridData]="aboutGrid" [view]="view"></grid-lightbox> -->


</div>
