<div id="frame" class=" fixed w-100  flex flex-column items-center ">

  <div id="box" class=" ">
    <div id="para" class=" relative ">
      Hi, I’m Christian, lifestyle and advertisement photographer based in Berlin, Germany, and Cape Town, South Africa.<br><br>
      I found my first camera when I was eight, a Canon AE-1 in a forgotten box in the attic. I was instantly intrigued,
      but little did I know that this moment of discovery was the spark that lit my life-long enthusiasm for visual
      storytelling.<br><br>

      I’ve been refining my craft ever since. Traveling the world while photographing people from all walks of life.
      From painters to firefighters, bike messengers in San Francisco to sheep shearers in the Karoo, crowds in Mumbai
      to lonesome wanderers on little known roads - the surfers, the dreamers, the entrepreneurs.<br><br>

      At their best my photographs touch peoples hearts and minds. With a deep understanding of color, light and
      movement, I strive to create vivid images that connect people. Authentic and uplifting, oozing with the light of
      the south.<br><br>

      I always bring this sensibility to commercial productions. Shooting national and international campaigns for
      brands such as Nivea, Coca Cola, Fanta, Bosch, Goldman Sachs, Allianz and others. Clients value my teamwork and
      the ability to open spaces of spontaneity and realness within meticulously planned productions.<br><br>

      Spontaneous discoveries can inspire a lifelong journey. So feel free to send me a message. I’m always open for
      collaborations of any kind.<br><br>
      Let’s <a href="mailto:christian@doppelgatz.com">connect</a> and create.<br><br>

    </div>
    <img id="pic" src="../../assets/_Christian_Doppelgatz.jpg">
  </div>


</div>
