#frame{
  top:0;
  left:0;
  height:100vh;
  width:100vw;

  -webkit-user-select: auto;
-moz-user-select: auto;
-ms-user-select: auto;
user-select: auto !important;
}

#box{
  width:70%;
  padding-top:250px;
  overflow-y: auto;
  height:100vh;
  
/* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#box::-webkit-scrollbar {
  display: none;
}


#para{
  top:0;
  left:0;
  /* height:100%; */
  line-height:1.5;
  letter-spacing:2px;
  overscroll-behavior-inline:auto;

}

#pic{
  width:330px;
  z-index:-1;
}

a{
  text-decoration:none;
  color:black;
}
a:hover{
color:#ff5039
}

@media only screen and ( min-width:0px){

  #pic{
    margin:auto;
    position:static;
    display: block;
    padding-bottom:50px;
  }
  #para{
    width: 100%;
    padding-bottom:0px;
  }

  #header{
    width:70vw;
  }
}

.grid-lightbox{
width:80%
}
@media only screen and ( min-width:880px){

  #para{
    width: 70%;
    padding-bottom: 100;

  }
  #box{
    width:80%;


  }
  #pic{
    top:50vh;
    left:60vw;
    position:fixed;
    margin:0;

  }
  #header{
    width:80%;
  }


}
@media only screen and ( min-width:1700px){


  #box{
    width:1350px;

  }
  #para{
    width: 70%;
    padding-bottom:100px;

  }
  #pic{
    top:50vh;
    left:60vw;
    position:fixed;
    margin:0;

  }
  #header{
    width:1350px;
  }


}


