<div id="frame" class="debu fixed w-100  flex flex-column items-center ">
  <div id="box" class=" h-100">

    <div id="table-and-pic" class="flex no-wrap pb2">

      <div id="table" class="">
        <table width="680">
          <tbody>
            <tr >
              <td>
                <div class="bt mr3"></div>
                <div class=" pt3">direct contact</div>
              </td>
              <td>
                <div class="bt mr3"></div>
                <div class=" pt3">representation germany</div>
              </td>
              <td>
                <div class="bt "></div>
                <div class=" pt3">representation italy / asia</div>
              </td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td><span>Christian Doppelgatz Photography</span></td>
              <td><span>UPFRONT Foto &amp; Film</span></td>
              <td><span>1806 Agency</span></td>
            </tr>
            <tr>
              <td> </td>
              <td> </td>
              <td> </td>
            </tr>
            <tr>
              <td><a href="mailto:christian@doppelgatz.com" target="_blank"
                  rel="noopener" class="pointer-styled"><span>christian@doppelgatz.com</span></a></td>
              <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener" class="pointer-styled"><span>info@upfront.de</span></a></td>
              <td><a href="mailto:info@1806.agency" target="_blank" rel="noopener" class="pointer-styled"><span>info@1806.agency</span></a>
              </td>
            </tr>
            <tr>
              <td><span>germany     +49 (0)179 - 900 80 99</span></td>
              <td><span>+49 (0)40 386 158 30</span></td>
              <td><span>+39 02 45374679</span></td>
            </tr>
            <tr>
              <td><span>south africa       +27 (0)72 8810 682</span></td>
              <td><a href="http://www.upfront.de" target="_blank" rel="noopener" class="pointer-styled"><span>www.upfront.de</span></a></td>
              <td><a href="http://www.1806.agency" target="_blank" rel="noopener" class="pointer-styled"><span>www.1806.agency</span></a></td>
            </tr>
            <tr>
              <td class="pt5"><span>instagram:<a target="_blank" class="pointer-styled"
                    href="https://www.instagram.com/doppelgatz/?hl=en">@doppelgatz.com</a></span></td>
              <td class="pt5">
                <span class="pointer-styled">
                  <a (click)="showForm()">subscribe to my newsletter</a>
                </span>
              </td>
              <td>

              </td>
            </tr>

          </tbody>
        </table>

        <table class="" id="mobile-table" width="300">
          <tbody >
            <tr >
              <td class= "bt pt4"><span class="heading">direct contact</span></td>
            </tr>
            <tr>
              <td> </td>

            </tr>
            <tr>
              <td><span>Christian Doppelgatz Photography</span></td>
            </tr>
            <tr>
              <td> </td>

            </tr>
            <tr>
              <td><a href="mailto:christian@doppelgatz.com" target="_blank"
                  rel="noopener"><span>christian@doppelgatz.com</span></a></td>
            </tr>
            <tr>
              <td><span>germany     +49 (0)179 - 900 80 99</span></td>

            </tr>
            <tr>
              <td><span>south africa       +27 (0)72 8810 682</span></td>
            </tr>


            <tr>
              <td><span>representation germany</span></td>
            </tr>
            <tr>
              <td> <br></td>

            </tr>
            <tr>
              <td><span>UPFRONT Foto &amp; Film</span></td>
            </tr>
            <tr>
              <td> <br></td>

            </tr>
            <tr>
              <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener"><span>info@upfront.de</span></a></td>
            </tr>
            <tr>
              <td><span>germany     +49 (0)179 - 900 80 99</span></td>

            </tr>
            <tr>
              <td><a href="https://www.upfront.de" target="_blank" rel="noopener"><span>www.upfront.de</span></a></td>

            </tr>
            <tr>
              <td> <br></td>

            </tr>
            <tr>
              <td><br> </td>

            </tr>


            <tr>
              <td><span>representation italy / asia</span></td>
            </tr>
            <tr>
              <td> </td>

            </tr>
            <tr>
              <td><span>1806 Agency</span></td>
            </tr>
            <tr>
              <td> </td>

            </tr>
            <tr>
              <td><a href="mailto:info@upfront.de" target="_blank" rel="noopener"><span>info@1806.agency</span></a></td>
            </tr>
            <tr>
              <td><span>germany     +49 (0)179 - 900 80 99</span></td>

            </tr>
            <tr >
              <td class= "bb pb4"><a href="https://www.upfront.de" target="_blank" rel="noopener"><span>www.1806.agency</span></a></td>

            </tr>
            <tr>
              <td class="pt5"><span>instagram:<a target="_blank" class="pointer-styled"
                    href="https://www.instagram.com/doppelgatz/?hl=en">@doppelgatz.com</a></span></td>

              <td>

              </td>
            </tr>
            <tr>
              <td class="pt5">
                <span class="pointer-styled">
                  <a (click)="showForm()">subscribe to my newsletter</a>
                </span>
              </td>
            </tr>

          </tbody>

        </table>


      </div>
      <img id="pic" src="../../assets/_Christian_Doppelgatz.jpg">

    </div>


    <div id="para" class="mt4 w-100 ">
      <div id="par1">
        I’m a lifestyle and advertisement photographer based in Berlin, Germany and Cape Town, South Africa,
        known for my natural approach to people photography. At their best my photographs touch people’s hearts
        and minds. With a deep understanding of color, light and movement I strives to create images that connect
        people.
        Authentic and uplifting, oozing with the light of the south.<br><br>
      </div>

      <div id="par2">
        I enjoy moving between and among different cultures,travelling the world while photographing people from all
        walks of life.
        From painters to fire fighters, bike messengers in San Francisco to sheep shearers in the Karoo, crowds in
        Mumbai to lonesome
        wanderers on little known roads - the surfers, the dreamers, the entrepreneurs.<br><br>
      </div>

      <div id="par3">
        Shooting national and international campaigns for brands such as Nivea, Coca Cola, Fanta, Bosch, Goldmann Sachs,
        Allianz and others, I am
        valued by clients for my teamwork and the ability to open spaces of spontaneity and realness within meticulously
        planned productions.<br><br>
      </div>

      Spontaneous discoveries can inspire a life long journey. I’d love to hear from you.<br>

      Let’s <a href="mailto:christian@doppelgatz.com">connect</a> and create.<br><br>

    </div>
    <img id="mobile-pic" class="margin-auto" src="../../assets/_Christian_Doppelgatz_round.jpg">
    <div class="privacy flex flex-column justify-end">
      <p class="" routerLink="/privacy">imprint/privacy</p>
    </div>
  </div>




</div>

<div *ngIf="formFlag" id="modal" class = "fixed w-100 h-100 flex  justify-center">
  <div class="w-70 relative">
    <div id="xbox" class=" h2 w-100 flex justify-end pr5">
      <div (click)="closeForm('noDelay')" id="X" class="absolute pointer-styled">X</div>
    </div>
    <app-mcform (submitFlag)="closeForm($event)"></app-mcform>
  </div>

</div>
