#frame{
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  padding-top:250px;
  overflow-y:auto;
  -webkit-user-select: text;
-moz-user-select: text;
-ms-user-select: text;
user-select: text !important;
letter-spacing:2px;
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
color:#ff5039
}
.privacy{
height:150px;
opacity:0.5;
}

table{

  margin-bottom: 50px;

}
@media only screen and ( min-width:0px){
  table{
    display:none
  }
  #mobile-table{
    /* margin-left:15vw; */
    display:inline-table;

  margin-top:0px;

  }
  .grid-lightbox{
    display:none;
  }
  #box{
    margin-left:15vw;

  }
  .links{
    width:60%;
  }

}


.grid-lightbox{
width:80%
}
@media only screen and ( min-width:880px){
  #frame{
    display:flex;
    justify-content: center;

  }
  table{
    display:inline-table;
    /* margin-left:10vw; */
  }
  #mobile-table{
    display:none;
  }
  #box{
    margin:0;
    width:80vw;
  }

}
@media only screen and ( min-width:1700px){
  #frame{
    display:flex;
    justify-content: center;

  }
  table{
    display:inline-table;
    margin-left:0;
  }
  #mobile-table{
    display:none;
  }
  #box{
    width:1350px;

  }
}
