<div id="menu-box"
class="relative h-100 w-100 flex  justify-center black">

<div class="w-80">
  <ul class="relative list  ">
    <li class="relative" data-underlined-link routerLink="/showcase">Showcase</li><br>
    <li class="relative" data-underlined-link routerLink="/portfolio">Portfolio</li><br>
    <li class="relative" data-underlined-link routerLink="/commissions">Commissions</li><br>
    <li class="relative" data-underlined-link routerLink="/showreel">Showreel</li><br>
    <li class="relative" data-underlined-link routerLink="/posts">News/Diary</li><br>
    <li class="relative" data-underlined-link routerLink="/about">About</li><br>
  </ul>
</div>
</div>
