<div  class=" fixed flex justify-left flex-wrap items-between menu-dims  ">
  <ul class="  list ">
    <li>Showcase</li>
    <li routerLink="/portfolio">Portfolio</li>
    <li routerLink="/commissions">Commissions</li>
    <li routerLink="/showreel">Showreel</li>
    <li routerLink="/news">News/Diary</li>
    <li routerLink="/about">About</li>
  </ul>
  <p>
    Represented in Germany by <a class="link">Upfront</a><br>
    In Italy/China by <a class="link">1806</a><br>
    Connect Directly via <a class="link">email </a>& <a class="link">instagram</a>
  </p>
</div>
