#galleryWrapper{
  top:0;
  left:0;
overflow-y: auto;
}
#galleryGrid {
  transition: transform 0.3s ease-out;
  left:0;
  top:0;
  height:100%;
  }
 #lightbox{
  top:0;
  left:0;
  overflow:hidden;
 }
.lightboxPicHeight{
  height:80vh;
  transition: opacity 0.5s ease-out;

}
.picFadeOut{
  animation: picFadeOut 0.5s ease-out;
}
@keyframes picFadeOut {
  from {opacity:1}
  to {opacity:0}
}


.left-arrow:hover{
  cursor: url("src/assets/left-arrow.png"),auto;
}
.right-arrow:hover{
  cursor: url("src/assets/right-arrow.png"),auto;
}
.grid:hover{
  cursor: url("src/assets/menu.png"),auto;
}
.no-cursor{
  cursor: none;
}
#overlay{
  width:100vw;
  height:100vh;
  top:0;
  left:0;
}







