#galleryWrapper{
  top:0;
  left:0;
overflow-y: auto;
}
#mask{
  top:0;
  left:0;
  height:135px;
  transition: opacity 2s ease-out;
}
#galleryGrid {
  transition: transform 0.3s ease-out;
  left:0;
  top:135px;


  }
 #lightbox{
  top:0;
  left:0;
  overflow:hidden;
 }
.lightboxPicHeight{
  height:80vh;
}
.picFadeOut{

   animation: picFadeOut 0.7s ease-out;
}
@keyframes picFadeOut {
  from {opacity:1}
  to {opacity:0}
}
.left-arrow:hover{
  cursor: url("src/assets/back-button.cur"),default;
}
.right-arrow:hover{
  cursor: url("src/assets/right-button.png"),default;
}
.grid:hover{
  cursor: url("src/assets/menu.cur"),default;
}
.no-cursor{
  cursor: default;
}
#overlay{
  width:100vw;
  height:100vh;
  top:0;
  left:0;
}







