#port-frame{
  padding-top:133px;
}
#port-wrapper{
  display:grid;
  grid-template-columns: auto  auto  auto;
  column-gap:90px;
  row-gap:62px;
}

  #text{
  padding-bottom:100px;
  position: relative;
}

#titleFrame {
  height: 100vh;
  top: 0;
  left: 0;
}

#title {
  font-family: Ibarra Real Nova;
  font-size: 6em;
  opacity: 0;
  line-height:90px;

}
#names {
  font-family: Ibarra Real Nova;
  font-size: 3em;
  opacity: 0;
  padding:0;
  position:relative;
  top:40px;

}
.paleOn {
animation: settle 2s ease-out forwards, fadeIn 2s ease-out forwards;
}
.paleOff {
  animation:  return 2s ease-out forwards,fadeOut 2s ease-out forwards;
}

.thumbnail{
  animation: fadeIn 1s ease-in;
}

@keyframes settle {
  from {
   transform: translateY(0px);
  }
  to {
  transform: translateY(25px);
  }
}

@keyframes return {
  from {
   transform: translateY(25px);
  }
  to {
  transform: translateY(0px);
  }


}
@keyframes fadeIn {
  from {opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to{opacity: 0;}
}






