
    <div *ngIf="thumbnails$ | async as thumbnails"
    class="debug relative w-100 flex-ns justify-between-ns flex-wrap-ns">
      <gallery-thumbnail  class="w-33 pointer " (hover)="hover($event)" *ngFor="let thumbnail of thumbnails"
        [thumbnail]="thumbnail" [hoverCompute]="hoverEventObject"></gallery-thumbnail>

      <div id="titleFrame" class="fixed w-100 pointer-events-none flex items-end ">
        <div class="w-20"></div>
        <h1 id="title" [ngClass]="hoverEventObject.hover" class="w-80 tl pb4  f1  black">
          {{hoverEventObject.title}}</h1>
        <div class="w-20"></div>
      </div>
    </div>

