<div id="port-frame" class=" w-100 flex justify-center">

  <div  class=" relative w-80">
 <div class="portfolio-row  "  [@simpleFadeAnimation]="rowLoadCounter['row'+i].rowFadeIn"  *ngFor="let item of picArray;let i = index" [attr.data-index]="i">

  <gallery-thumbnail  class="thumbnail pointer"  (hover)="hover($event)" *ngFor="let thumbnail of item"
  [thumbnail]="thumbnail" [hoverCompute]="hoverEventObject"></gallery-thumbnail>
 </div>
    <div id="titleFrame" class="fixed w-100 pointer-events-none flex items-end">

      <div id="text" class="w-60 black">
        <div class=" w-100 " [ngClass]="hoverEventObject.hover" id="names">{{hoverEventObject.names}}</div>
        <div  class="mt4  w-100" [ngClass]="hoverEventObject.hover" id="title">{{hoverEventObject.title}}<div>
    </div>
  </div>
</div>
<div>

</div>
