
#header{
  z-index:2;
  transition:opacity 0.5s ease-out;
  box-sizing:content-box;
  border-top: 1px solid #ff381e;
}
#site-title{
  font-size:30px;

  margin:0;
  letter-spacing: 2px;
}
#port-wrapper{
  margin-left:-30px;
  margin-right:-10px;
}
.lightbox-fade{
    -webkit-transition:opacity 0.5s ease-in;
    -moz-transition:opacity 0.5s ease-in;
     -ms-transition:opacity 0.5s ease-in;
      -o-transition:opacity 0.5s ease-in;
         transition:opacity 0.5s ease-in;
  }
  .fadeIn {
    opacity:1;
  }
  .fadeOut{
    opacity: 0;
  }
  .arrow{
    transform: translateY(100vh);
    transform: rotate(180deg);
    /* -webkit-transition:transform 0.5s ease-out;
    transition: transform 0.5s ease-out; */
    z-index:2;
  }

.menu-button{
margin:0;
padding:0;
  transform: rotate(-45deg);
}


.hover-grow:hover{
 opacity:0.9;
}



#outlet-wrapper{
  top:0;
  left:0;
  overflow-y:scroll;

}
#innerHeader{
  height:140px;
}

