<div data-header class=" header-Z fixed bg-white full-wrapper w-100 flex justify-center">
  <div  routerLink="/menu" [routerLinkActive]="['turn', 'menu-button-under-Z']"  class="menu-button menu-button-style menu-button-over-Z  hover-grow pointer that-yellow  fixed">+</div>
  <div  (click)="goBack()"  class="o-0 goback menu-button-style goback-Z  pointer  fixed">+</div>


  <div class="inside-wrapper w-60 flex justify-around flex-wrap">
    <div class="header w-100 pt3 flex justify-between items-center">
      <h2 id="site-title" class="tracked w-50">Christian Doppelgatz</h2>
      <div id="bbutton" routerLink="/portfolio" [routerLinkActive]="['dn']"
        class="dn tc fa fa-angle-right fa-2x black-70 hover-black-50 pointer"></div>
    </div>

  </div>
</div>

<!-- router-outlet markup -->
<div class="full-wrapper  w-100  flex justify-center">
  <div class="inside-wrapper w-80 flex justify-around flex-wrap">

    <div id="outlet-wrapper" class=" centered-wrapper w-100 mb4" [@routeAnimations]="prepareRoute(outlet)">
      <router-outlet class="h6" #outlet="outlet"></router-outlet>
    </div>
  </div>
</div>
