<div id="arrowStructure" class="   flex justify-center fixed  ">
  <div id="arrowBox" [routerLink]="backArrowLink" class="relative pointer-styled flex justify-center h-100">
      <img id="arrowBack" src="../assets/upArrao!.svg" width="22" class=" lightbox-fade relative " />
  </div>
  <div id="spacerHeader"class=" h-100" ></div>
  <div id="rightSpacer" class=" h-100"></div>

</div>

<div class="spinner-lightbox o-0">
  <div class="wheel">
  </div>
</div>
<div id="arrow-frame" class=" z-2  fixed  w-100 h-5 flex align-items justify-center items-end">

  <img *ngIf="showArrows" src="../assets/black arrow down.svg" width="22" class="relative z-5 ph3 mb4" />
</div>

<div (scroll)="onScroll($event)" [scrollTop]="scrollValue" id="galleryWrapper"
  class=" relative z-3 w-100 flex justify-center">


  <div id="gallery-box" class="w-80  relative">
    <div class="spacer1 "></div>
    <div id="renderedGrid" [innerHTML]="trustedGrid" class=" w-100"></div>
    <div class="flex justify-center pt4">
      <div (click)="scrollToTop()" class="lightbox-fade pointer-styled spacer2 flex justify-center w-20">
        <img *ngIf="showArrows" src="../assets/upArrao!.svg" width="22"
          class="pointer relative z-5 ph3 hover-grow mb1" />
      </div>
    </div>
  </div>
</div>



<div id="overlay" class=" o-0 z-1 fixed flex justify-center">
  <div id="left" class=" h-100 left-arrow flex items-center justify-start">
    <img width="15px" src="../../assets/arrow_left.svg" class="relative ph3 hover-grow arrow-icon" />
  </div>
  <div id="central-column" class="h-100 flex flex-column justify-between items-center ph6 ">

    <div (click)="closeLightbox()" id="xboxTop" class="xbox  xCursor h2 w-100 flex justify-center items-start">
      <img id="close-icon" width="20px" src="../assets/plus.svg" />
    </div>
    <div (click)="closeLightbox()" id="pic-overlay" class="xCursor"  (swipeleft)="browse($event)"
    (swiperight)="browse($event)"  >

    </div>
    <div id="download-link" class=" w-100  flex justify-around items-center">
      <div *ngIf="downLoadLinkFlag" (click)="download()" class="link pointer-styled"><img width="20px"
          src='../assets/download.svg' /></div>
      <!-- <span class="o-0 link pointer-styled">add to PDF lightbox</span> -->
    </div>
    <div (click)="closeLightbox()" id="xboxBottom" class="xbox xCursor h2 w-100 flex justify-center items-start">
      <img id="close-icon" width="20px" src="../assets/plus.svg" />
    </div>
  </div>

  <div id="right" class=" h-100 right-arrow flex justify-end items-center">
    <img width="15px" src="../../assets/arrow_right.svg" class="arrow-icon relative ph3 " />
  </div>

</div>
<div class="fixed w-100 h-100 flex o-0 justify-center items-center" id="lightbox">
  <div id="picBox" class=" relative flex justify-center o-100">

    <img class="bw2 b--blue  lightboxImages" id="pic" />

    <img class="absolute bw2 b--yellow lightboxImages o-0" [@scrollFadeHide]="fadeFlag"
      (@scrollFadeHide.done)="resetScrollFade()" id="fader" />

    <img class="absolute  bw2 b--red lightboxImages o-0" [@scrollFadeHide2]="fadeFlag2"
      (@scrollFadeHide2.done)="resetScrollFade2()" id="faderB" />
  </div>

</div>
