.arrow-icon {
  pointer-events: none;
}

#close-icon {
  transform: rotate(45deg);
}

.lightbox-fade {
  transition: opacity 1s ease-out;
}

#galleryWrapper {
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
}

.link {
  font-size: 0.9rem;

}
#headerCenter{
pointer-events: none;
}

.spinner-lightbox {
  position: absolute;
  width: 20px;
  height: 20px;

  top: 50vw;
  z-index: 500;
  left: 50vw;
  transform: translate(20px, 20px);
  transition: none;
}

.wheel {
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px dotted black;
  border-bottom-color: white;
  border-right-color: white;
  border-radius: 50%;
  /* display: inline-block; */
  animation: rotation 2s linear infinite;
  /* transform-origin: 100% 100%; */
  ;

}


@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}



#renderedGrid {
  margin-top: 250px;
  transition: transform 0.3s ease-out;
  /* transition: opacity 0.1s; */

}


.spacer2 {
  height: 30vh;
}

#pic {
  transition: opacity 0.7s ease-out;
}

#download-link{
  height: 50px;
}


#lightbox {
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

#picBox {
  height: 80vh;

  overflow: none;
}

#xboxTop {
  padding-top: 2vh;
}

.lightboxImages {
  height: 100%;

  object-fit: contain;
}

#overlay {
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;

}

.arrows {
  line-height: 1.2;
  font-weight: 500;
  font-size: 50px;
}

.hide-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  scroll-behavior: auto !important
}




.left-arrow:hover {
  cursor: url('../../assets/arrow-cursor-left.svg'), auto;
}

.right-arrow:hover {
  cursor: url('../../assets/arrow-cursor-right.svg'), auto;
}

#arrow-frame {
  margin-top: 95vh;
  transition: opacity 1s ease-out;
}

.xCursor {
  cursor: url('../../assets/vectrXNoShadow.svg'), auto;
  transition: opacity 1s ease-out;
}

#left {
  flex-grow: 1;
}

#right {
  flex-grow: 1;
}

#arrowStructure {
  height: 155px;
  z-index: 2000;
  pointer-events: auto;
}

#arrowBox {
  /* margin-top: 6px; */
  pointer-events: auto;

}

#arrowBack {
  z-index: -1;

}


@media(min-width :0px) {
  #gallery-box {
    width: 80vw;
  }

  #arrowBox {
    width: 10vw;
  }

  #headerCenter {
    width: 80vw;
  }

  #headerRight {
    width: 10vw;

  }

  #picBox {
    width: 100vw;
  }
  #xboxTop{
    display: none;
  }
  #xboxBottom{
   display:flex;
  }
  #download-link{
    display:none;
  }


}


@media(min-width :800px) {
  #gallery-box {
    width: 80vw;
  }

  #arrowBox {
    width: 10vw;
  }

  #headerCenter {
    width: 80vw;
  }

  #headerRight {
    width: 10vw;

  }

  #picBox {
    width: 80vw
  }
  #xboxTop{
    display: flex;
  }
  #xboxBottom{
   display:none;
  }
  #download-link{
    display:flex;
  }
  #pic-overlay{
    pointer-events:auto;

  }

}

@media(min-width :1200px) {
  #gallery-box {
    width: 80vw;
  }

  #arrowBox {
    width: 10vw;

  }

  #headerCenter {
    width: 80vw;
  }

  #headerRight {
    width: 10vw;

  }

  #picBox {
    width: 80vw;
  }
  #xboxTop{
    display: flex;
  }
  #xboxBottom{
   display:none;
  }
  #download-link{
    display:flex;
  }

}

@media(min-width :1700px) {
  #gallery-box {
    width: 80vw;
  }

  #arrowBox {
    flex-grow: 1;
  }

  #headerCenter {
    width: 1350px;
  }

  #headerRight {
    flex-grow: 1;
  }
  #xboxTop{
    display: flex;
  }
  #xboxBottom{
   display:none;
  }
  #download-link{
    display:flex;
  }

}
