#galleryWrapper {
  top: 0;
  left: 0;
  overflow-y: auto;
  height: 100vh;
}

.link {
  font-size: 0.9rem;

}

.spinner-cursor {
  position:absolute;
  width: 20px;
  height:20px;
 
  top:0;
  z-index:500;
  left:0;
  transform:translate(20px,20px);
  transition:none;
}

.wheel {
  box-sizing:border-box;
  position: relative;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  border: 2px dotted black;
  border-bottom-color: white;
  border-right-color: white;
  border-radius: 50%;
  /* display: inline-block; */
  animation: rotation 2s linear infinite;
   /* transform-origin: 100% 100%; */
   ;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.spacer1 {
  height: 250px;
}

#renderedGrid {

  transition: transform 0.3s ease-out;
  /* transition: opacity 0.1s; */
}

.spacer2 {
  height: 30vh;
}

#pic {
  transition: opacity 0.7s ease-out;
}


#lightbox {
  top: 0;
  left: 0;
  /* overflow: hidden; */
}

#picBox {
  height: 80vh;
  width: 80vw;
  overflow: none;
}

.lightboxImages {
  height: 100%;

  object-fit: contain;
}

#overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.arrows {

  line-height: 1.2;
  font-weight: 500;
  font-size: 50px;
}

.hide-scroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  /* So the width will be 100% + 17px */
  scroll-behavior: auto !important
}




.left-arrow:hover {
  cursor: url('../../assets/arrow-cursor-left.svg'), auto;
}

.right-arrow:hover {
  cursor: url('../../assets/arrow-cursor-right.svg'), auto;
}

.arrow-frame {
  margin-top: 95vh;
  transition: opacity 1s ease-out;
}

#close {
  cursor: url('../../assets/vectrXNoShadow.svg'), auto;
  transition: opacity 1s ease-out;
  width: 54vw;
}

#left {
  width: 23vw
}

#right {
  width: 23vw
}
