<div class=" w-100 flex justify-center">

  <div id="thumbsFrame" class="relative w-80 flex justify-between flex-wrap ">
    <div id="thumbs" class="pointer w-100 h-100" class="w-100 mb5" (mouseenter)="hoverOn()"
      (mouseleave)="hoverOff()" [innerHtml]="sanitizedLayout">
    </div>
  </div>
</div>
<div id="titleFrame" class="fixed h-80 w-100 pointer-events-none flex items-end ">
  <div class="w-10"></div>

  <div id="text" class="w-60 tl black">

    <h1 class="w-100 pb5" [ngClass]="[hoverClass]" id="title">{{title}}</h1>
  </div>

  <div class="w-10"></div>
</div>

