
.prepareForAnim{

}



#thumbnail {
  opacity:0;
  transform: translateY(100px);
  /* transition: all 1s ease-in; */
  width: 100%;
  height:100%;
}

.paleOn {
  opacity: 0.2;
}

.paleOff {
  opacity: 1;
}

.thisIsHoveredThumbnail {
  opacity: 1 !important
}
