.prepareForAnim {
  opacity: 0;
  /* transform: translateY(100px); */
  transition: all 1s ease-in;
}

#thumbnail {
  width: 100%;
  height: 100%;

}
#thumbnail-wrapper{
  transition: all 0.5s ease-in 0.05s;

}

.paleOn {
  opacity:0.2;
}

.paleOff {
  opacity:1;
}




