/* You can add global styles to this file, and also import other style files */

@import "tachyons-ben.css";

html, body { height: 100%; }
body { margin: 0;
  font-family: Roboto, "Muli", sans-serif;
}



*{
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

}
.pointer-events-none{
    pointer-events: none;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
