/* You can add global styles to this file, and also import other style files */

@import "tachyons-ben.css";



html, body {
   height: 100%;
   /* text-rendering: optimizeLegibility; */
    /* -webkit-font-smoothing: antialiased; */
    /* -moz-osx-font-smoothing: grayscale; */
    cursor: url('./assets/pointer-styled.svg'),auto;
    user-select:text;
}
body { margin: 0;

}
.that-red{
  color:#ff381e
}
.pointer-styled:hover {
  cursor: url('./assets/hand-pointer.svg'),auto;
}
div,li{
  font-family: XXHaas;
}
h1, #names{
  font-family: XXHaas;
}

#title {
  font-family: Brick;
}


  @font-face {
    font-family: XXHaas;
    src: url('./assets/NeueHaasDisplay-XXThin.woff') ;




    }

  @font-face {
    font-family: Brick;
    src: url('./assets/brick-display-medium-pro.ttf')

    }





.pointer-events-none{
    pointer-events: none;
}

/*  */

.nil {
  border: 3px dashed blue;
}

